@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media screen and (min-width: 700px) {
    .grider {
        display: none !important;
    }
}
@media screen and (max-width: 700px) {
 
    table table {
        display: none;
    }
 
    .grider {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .grider div {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
 
    .grider div:nth-child(7n+1),
    .grider div:nth-child(7n+2)
    {
        display: none;
    }
    .old-th {
        font-size: 19px;
    }
 
 
    .grider div:nth-child(7n+1) {
        order: 1;
    }
    .grider div:nth-child(7n+2) {
        order: 2;
    }
    .grider div:nth-child(7n+3) {
        order: 3;
    }
    .grider div:nth-child(7n+4) {
        order: 4;
    }
    .grider div:nth-child(7n+5) {
        order: 5;
    }
    .grider div:nth-child(7n+6) {
        order: 6;
    }
    .grider div:nth-child(7n) {
        order: 7;
    }
 
    .grider time {
        width: 25%;
    }
    .grider article {
        display: flex;
        width: 75%;
        text-align: center;
    }
    .grider article .n {
        flex-grow: 0;
        flex-basis: 20%;
    }
    .grider article .s {
        flex-basis: 20%;
        flex-grow: 0;
    }
    .grider article .p {
        flex-grow: 6;
    }
 
 
 
    .grider {
        font-weight: 500;
    }
    .old-th time {
        display: none;
    }
    .old-th article {
        /*background-color: red;*/
        display: block;
        font-size: 1.75rem;
        line-height: 3rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: auto;
        font-weight: 600;
        padding: 10px 0 10px 0;
    }
    .grider time {
        color: #aaa;
        font-style: italic;
    }
    .old-td + .old-td {
        border-top: 1px solid #ddd;
        font-size: 1.2rem;
 
    }
}
 
/* some minor tweaks */
caption {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px;
}
form {
    min-width: 300px;
    margin: auto;
    width: 50vw;
    text-align: center;
}
body > div > table {
    width: 100%;
}
body > div > table table {
    margin: auto;

}
  
td{
    padding: 5px;
    letter-spacing: 0.5px;
 
}
 
a.n.n{
    color: rgb(234, 255, 0);
    position: static;
    bottom: 0;
    right: 0;
}

a.s.s{
    color: rgb(255, 170, 44);
    position: static;
    bottom: 0;
    right: 0;
}
 
 
table.tabela{
    text-align: center;
    border-spacing: 0px;
    margin-top: 2rem;
    transition: box-shadow 0.5s;
    border-radius: 24px;
}

table.tabela:hover{
    box-shadow: 0px 5px 60px 2px rgba(0,0,0,0.51);
}

th:first-child{
    border-top-left-radius: 24px;
    padding-left: 18px;
}

th:last-child{
    border-top-right-radius: 24px;
    padding-right: 18px;
}

td.nr-last{
    border-bottom-left-radius: 24px;
    background-color: rgb(0, 183, 0);
    border: 1px solid;
    padding: 10px;
}

td#l-last{
    border-bottom-right-radius: 24px;
}
 
th{
    background-color: rgb(0, 238, 255);
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
    padding: 15px;
    text-shadow: 2px 2px 3px lightgrey;
}
 
td.nr{
    background-color: rgb(0, 183, 0);
    border: 1px solid;
    padding: 10px;
}
 
td.g{
    background-color: greenyellow;
}
 
.n {
    color: #000;
    text-decoration: none;
    text-align: right;
}
 
body{
    font-family: 'Roboto', sans-serif;
}
 
a{
    text-decoration: none;
}

img{
    width: 50px;
}

td.l-matematyka{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgITkfFRaDt9yahOtHlZksfwUt5kxTH_RO7XHrFpxjbcbhwAWNUtUNxTxdDEIJAFv26qY&usqp=CAU);
    background-size: 100% 100%;
    color: white;
}

td.l-geografia{
    background-image: url(https://st.depositphotos.com/1003345/1883/i/600/depositphotos_18832325-stock-photo-magnifying-glass-and-map.jpg);
    background-size: 100% 100%;
    color: white;
}

td.l-polski{
    background-image: url(https://7.allegroimg.com/s1440/012409/cbe903d6472892ec45d08ebd1bd7);
    background-size: 100% 100%;
}

td.l-zawodowe{
    background-image: url(https://www.wne.uw.edu.pl/application/files/9916/5270/1737/grafika_studia4.png);
    background-size: 100% 100%;
    color: white;
}

td.l-religia{
    background-image: url(https://th.bing.com/th/id/R.a14a7a5038de0fc428564c69b2092ee1?rik=omheEytopcQhBw&riu=http%3a%2f%2fmoodle.zsbopole.pl%2fpluginfile.php%2f3028%2fcourse%2foverviewfiles%2fewangelia-czy-chrzescijanstwo-jest-religia.jpg&ehk=xegPElh42u3kfVMW17ca8Y2qVTg51hdpk5QJepXTczA%3d&risl=&pid=ImgRaw&r=0);
    background-size: 100% 100%;
    color: white;
}

td.l-wychowawcza{
    background-image: url(https://th.bing.com/th/id/OIP.vTV3sPDdy77G0HID1DICsAHaFj?pid=ImgDet&rs=1);
    background-size: 100% 100%;
    color: white;
}

td.l-zawodowe-inf{
    background-image: url(https://th.bing.com/th/id/OIP.RtY25YYiwVo2MQ-RSs_uGgHaE8?pid=ImgDet&rs=1);
    color: white;
}

td.l-angielski-zawodowe{
    background-image: url(https://i.ibb.co/23MNpQy/angielski-zawodowe.png);
    background-size: 100% 100%;
    color: white;
}

td.l-wf-zawodowe{
    background-image: url(https://i.ibb.co/FWsjDmg/wf-zawodowe.png);
    background-size: 100% 100%;
    color: white;
}

#darkmode{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

input{
    width: 200px;
    height: 200px;
}

i{
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: box-shadow 0.2s;
}

i:hover{
    box-shadow: 0px 5px 60px 2px rgba(0,0,0,0.10);
}


select{
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 24px;
    transition: box-shadow 0.2s;
    background-color: rgb(30, 0, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

select:focus{
    background-color: white;
    color: black;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: inherit;
    width: 523px;
    
}

select:hover{
    box-shadow: 0px 5px 60px 2px rgba(0,0,0,0.10);
}